################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TheMerchShop/TheMerchShop/.vs/TheMerchShop/FileContentIndex/58ca7050-89fb-4e7e-bba9-c663b7d5ea24.vsidx
/TheMerchShop/TheMerchShop/.vs/TheMerchShop/FileContentIndex/5f7e8fc8-26b8-4493-a331-87660475b51b.vsidx
